.plannerContainer{
    width:100%;
    height: 500px;
  
    display:flex;
    justify-content: space-around;
    
    
}
.toDoForm{
    width: 300px;
    border: 3px solid #7a9e7e;
    margin: 10px;
    display:flex;
    justify-content: center;
}
.toDoBox{
    width: 300px;
    border:3px solid #7a9e7e;
    margin: 10px;
    display:flex;
    justify-content: center;
}
.doneBox{
    width: 300px;
    border: 3px solid #7a9e7e;
    margin: 10px;
    display:flex;
    justify-content: center;
}
.toDoTitle{
    padding: 5px;
    font-family: "Palatino Linotype", Georgia, serif;
    font-size: 1.5rem;
    color: #3b5323;
}
