@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./routes/gallery/gallery.css);
@import url(./routes/quiz/quiz.css);
@import url(./routes/quizStart/quizStart.css);

header{
    background-color:rgb(205, 255, 185);
    height: 200px;
   
}
nav{
    background-color: beige;
    height: 50px;
    border: 2px solid rgb(82, 126, 82);
    display:flex;
    justify-content:center;
    font-family: "Grenze";
}

.navButton {
  display: inline-block;
  padding: 6px 12px;
  margin: 4px;
  background-color: white;
  border: 1px solid rgb(82, 126, 82);
  border-radius: 5px;
  text-decoration: none;
  color: black;
}
.navButton:hover {
  background-color: rgb(205, 255, 185);
}