.gameContainer{
    display:flex;
    justify-content: center;
    font-family: "Palatino Linotype", Georgia, serif;
color: #3b5323;
}
.gameBox{
    width:600px;
    height: auto;
    min-height:500px;
    border: 3px solid #7a9e7e;
    margin:10px;
    border-radius: 7px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.gameBox h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 20px;
    
}

.sceneInfo{
    width: 400px;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choices{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.gameButton{
    width:200px;
    height:auto;
  
    margin: 20px;
    border: 2px solid #7a9e7e;
    border-radius: 7px;

}